<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Netzexpert\ProductConfigurator\Api\Data\ConfiguratorOptionInterface"
                type="Netzexpert\ProductConfigurator\Model\ConfiguratorOption" />
    <preference for="Netzexpert\ProductConfigurator\Ui\Component\Listing\Attribute\RepositoryInterface"
                type="Netzexpert\ProductConfigurator\Ui\Component\Listing\Attribute\Repository" />
    <preference for="Netzexpert\ProductConfigurator\Api\ConfiguratorOptionAttributeRepositoryInterface"
                type="Netzexpert\ProductConfigurator\Model\ConfiguratorOption\Attribute\Repository" />
    <preference for="Netzexpert\ProductConfigurator\Api\ConfiguratorOptionRepositoryInterface"
                type="Netzexpert\ProductConfigurator\Model\ConfiguratorOptionRepository" />
    <preference for="Netzexpert\ProductConfigurator\Api\Data\ConfiguratorOptionAttributeInterface"
                type="Netzexpert\ProductConfigurator\Model\ConfiguratorOption\Attribute" />
    <preference for="Netzexpert\ProductConfigurator\Api\Data\ConfiguratorOptionSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Netzexpert\ProductConfigurator\Api\Data\ConfiguratorOptionVariantInterface"
                type="Netzexpert\ProductConfigurator\Model\ConfiguratorOption\Variant" />
    <preference for="Netzexpert\ProductConfigurator\Api\ConfiguratorOptionVariantRepositoryInterface"
                type="Netzexpert\ProductConfigurator\Model\ConfiguratorOption\VariantRepository" />
    <preference for="Netzexpert\ProductConfigurator\Api\Data\ProductConfiguratorOptionInterface"
                type="Netzexpert\ProductConfigurator\Model\Product\ProductConfiguratorOption" />
    <preference for="Netzexpert\ProductConfigurator\Api\ProductConfiguratorOptionRepositoryInterface"
                type="Netzexpert\ProductConfigurator\Model\Product\ProductConfiguratorOptionRepository" />
    <preference for="Netzexpert\ProductConfigurator\Api\Data\ProductConfiguratorOptionSearchResultInterface"
                type="Magento\Framework\Api\SearchResults" />

    <type name="Netzexpert\ProductConfigurator\Model\ConfiguratorOption\Variant">
        <arguments>
            <argument name="resource"
                      xsi:type="object">Netzexpert\ProductConfigurator\Model\ResourceModel\ConfiguratorOption\Variant</argument>
        </arguments>
    </type>
    
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="save_configurator_options"
                type="Netzexpert\ProductConfigurator\Plugin\Catalog\Product\SavePlugin" />
        <plugin name="get_configurator_options"
                type="Netzexpert\ProductConfigurator\Plugin\Catalog\Product\GetPlugin" />
    </type>
    <type name="Magento\Catalog\Helper\Product\Configuration">
        <plugin name="getConfiguratorOptions"
                type="Netzexpert\ProductConfigurator\Plugin\Catalog\Helper\Product\ConfigurationPlugin" />
    </type>
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="get_configurator_options_from_item"
                type="Netzexpert\ProductConfigurator\Plugin\Quote\Model\Quote\Item\GetProductPlugin" />
    </type>
    <type name="Magento\Quote\Model\Quote\Item\Processor">
        <plugin name="processConfiguratedPrice"
                type="Netzexpert\ProductConfigurator\Plugin\Quote\Model\Quote\Item\Processor\Plugin" />
    </type>
    <type name="\Magento\Sales\Block\Order\Email\Items\DefaultItems">
        <plugin name="addConfiguratorOptionsToInvoiceEmail"
                type="Netzexpert\ProductConfigurator\Plugin\Sales\Block\Order\Email\Items\DefaultItems\AddConfiguratorOptionsToInvoiceEmail" />
    </type>
    <type name="Magento\Sales\Block\Order\Email\Items\Order\DefaultOrder">
        <plugin name="addConfiguratorOptionsToOrderEmail"
                type="Netzexpert\ProductConfigurator\Plugin\Sales\Block\Order\Email\Items\Order\DefaultOrder\AddConfiguratorOptionsToOrderEmail" />
    </type>
    <type name="Magento\Sales\Model\Order\Pdf\Items\AbstractItems">
        <plugin name="addConfiguratorOptionsToInvoicePdf"
                type="\Netzexpert\ProductConfigurator\Plugin\Sales\Model\Order\Pdf\Items\AbstractItems\AddConfiguratorOptionsToInvoicePdf" />
    </type>
    <type name="Netzexpert\ProductConfigurator\Api\ConfiguratorOptionRepositoryInterface">
        <plugin name="get_option_variants"
                type="Netzexpert\ProductConfigurator\Plugin\Configurator\Option\GetPlugin" />
    </type>
</config>