& when (@media-common = true) {
  .page-product-configurator {
    .product-info-weight {
       display: table-cell;
      padding-bottom: 10px;
      padding-left: 10%;
      text-align: right;
      vertical-align: top;
      .type {
        font-weight: normal;
      }
      .value {
        display: inline-block;
      }
    }
    .product-options-wrapper {
      .hide {
        visibility: hidden;
        height: 0;
        margin: 0;
        input,
        .option-value {
          height: 0;
          display:none;
        }

      }
      .hidden {
        display: none;
      }
      .values {
        list-style-type: none;
        .value {
          display: inline-block;
          cursor: pointer;
          .lib-css(border, solid transparent 1px);
          &.selected {
            .lib-css(border, solid black 1px);
          }
          &.hide {
            display: none;
          }
          img {
            display: block;
          }
        }
      }
      .field {
        &:not(.hide) {
          margin-bottom: @indent__m;
          input:not(.expression-value) {
            margin-top: @indent__s;
          }
        }
        > .label {
          margin: 0 0 8px;
          display: inline-block;
          font-weight: 600;
        }
        .expression-value {
          visibility: hidden;
          display:none;
          height: 0;
          margin: 0;
          border: none;
        }
      }
    }
    #configurator-options-accordion {
      .lib-data-accordion();
      .switch {
        cursor: pointer;
      }
    }
  }
}