<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Netzexpert\ProductConfigurator\Ui\DataProvider\ConfiguratorOption\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="eav" xsi:type="array">
                    <item name="class" xsi:type="string">Netzexpert\ProductConfigurator\Ui\DataProvider\ConfiguratorOption\Form\Modifier\Eav</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="description" xsi:type="array">
                    <item name="class" xsi:type="string">Netzexpert\ProductConfigurator\Ui\DataProvider\ConfiguratorOption\Form\Modifier\Description</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="type_text" xsi:type="array">
                    <item name="class" xsi:type="string">Netzexpert\ProductConfigurator\Ui\DataProvider\ConfiguratorOption\Form\Modifier\TypeText</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
                <item name="type_select" xsi:type="array">
                    <item name="class" xsi:type="string">Netzexpert\ProductConfigurator\Ui\DataProvider\ConfiguratorOption\Form\Modifier\TypeSelect</item>
                    <item name="sortOrder" xsi:type="number">40</item>
                </item>
                <item name="type_expression" xsi:type="array">
                    <item name="class" xsi:type="string">Netzexpert\ProductConfigurator\Ui\DataProvider\ConfiguratorOption\Form\Modifier\TypeExpression</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Netzexpert\ProductConfigurator\Ui\DataProvider\ConfiguratorOption\Form\OptionDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Netzexpert\ProductConfigurator\Ui\DataProvider\ConfiguratorOption\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="configurator-options" xsi:type="array">
                    <item name="class" xsi:type="string">Netzexpert\ProductConfigurator\Ui\DataProvider\Product\Form\Modifier\ConfiguratorOptions</item>
                    <item name="sortOrder" xsi:type="number">160</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Sales\Block\Adminhtml\Items\Column\DefaultColumn">
        <plugin name="addConfiguratorOptionsToOrderItem"
                type="Netzexpert\ProductConfigurator\Plugin\Sales\Block\Adminhtml\Items\Column\DefaultColumn\AddConfiguratorOptionsToOrderItem" />
    </type>
</config>